<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707197193417-9h8mcb71o0k52sqkjo02ipvjj5lqe7c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707197193417-9h8mcb71o0k52sqkjo02ipvjj5lqe7c2</string>
	<key>API_KEY</key>
	<string>AIzaSyApuUBaNIWlO4IjxzLLv-44hATjJR_eL3w</string>
	<key>GCM_SENDER_ID</key>
	<string>707197193417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>startcode.stockProject</string>
	<key>PROJECT_ID</key>
	<string>stocker-dev-49d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>stocker-dev-49d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707197193417:ios:4918f5086a9dbb7ce01118</string>
</dict>
</plist>