<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241230276243-6g3bmpg9bcphim1g7gfh7lf0atf6899t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241230276243-6g3bmpg9bcphim1g7gfh7lf0atf6899t</string>
	<key>API_KEY</key>
	<string>AIzaSyCQOWii8pankyviTz-KUe6hA0i8AAgLj2A</string>
	<key>GCM_SENDER_ID</key>
	<string>241230276243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>startcode.stockProject</string>
	<key>PROJECT_ID</key>
	<string>stocker-d4d57</string>
	<key>STORAGE_BUCKET</key>
	<string>stocker-d4d57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241230276243:ios:53c39b41a1ca2da8e48f66</string>
	<key>DATABASE_URL</key>
	<string>https://stocker-d4d57-default-rtdb.firebaseio.com</string>
</dict>
</plist>